version: "3.8"

services:
  db:
    image: postgres:16
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    mem_limit: ${DB_MEM_LIMIT}  
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER} -d ${DB_NAME}"]
      interval: 5s
      timeout: 5s
      retries: 10


    networks:
      - backend

  api:
    build: .
    restart: unless-stopped
    env_file:
      - ${ENV_FILE}
    environment:
      DATABASE_URL: ${DATABASE_URL}
      PORT: ${API_PORT}
      LOG_LEVEL: ${LOG_LEVEL}
    depends_on:
      db:
        condition: service_healthy

    expose:
      - "${API_PORT}"
    mem_limit: ${API_MEM_LIMIT}
    volumes:
      - ./:/app:ro

    networks:
      - backend


  nginx:
    image: nginx:stable-alpine
    restart: unless-stopped
    depends_on:
      - api
    ports:
     - "443:443"
    volumes:
      - ./nginx:/etc/nginx/conf.d
      - ./certs:/etc/nginx/certs:ro
    networks:
      - backend

volumes:
    db_data:

networks:
  backend:
    driver: bridge